<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="add-tracking">
    <div class="panel panel-default">
        <div class="panel-body">
            <a class="btn btn-default col-xs-2 col-lg-1" th:href="@{/refresh-parcels}">Refresh</a>
            <form class="form-inline col-xs-10" method="post" th:action="@{/add-tracking}" th:object="${formTrackingNumbers}">
                <div class="form-group col-xs-10">
                    <label for="numbers" class="col-xs-4">Tracking numbers (';' use as delimiter)</label>
                    <input type="text" class="form-control col-xs-8" style="width: 66.666%;" th:field="*{trackingNumbers}" id="numbers"/>
                </div>
                <button type="submit" class="btn btn-info col-xs-2">Add</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
