<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="parcel">
    <div class="panel panel-info">
        <div class="panel-heading col-xs-12 col-lg-12" data-toggle="collapse"
             th:attr="data-target='#detail-view-' + ${parcel.parcelTrackingNumber} + ',#quick-view-' + ${parcel.parcelTrackingNumber} + ',#caret-' + ${parcel.parcelTrackingNumber}"
        >
            <div class="panel-title col-xs-10 col-lg-11">
                <span th:id="'caret-' + ${parcel.parcelTrackingNumber}" class="collapse caret"></span>
                <span th:text="${parcel.parcelTrackingNumber}">Parcel tracking number</span>
            </div>
            <a class="btn btn-danger btn-sm col-xs-2 col-lg-1"
               th:href="@{/remove-tracking(trackingNumbers=${parcel.parcelTrackingNumber})}">Remove
            </a>
        </div>
        <div class="panel-body col-lg-12 col-xs-12">
            <div class="collapse in"
                 th:if="${parcel.getLastState() == null}"
                 th:id="'quick-view-' + ${parcel.parcelTrackingNumber}">
                <div class="font-italic">No information available.</div>
            </div>
            <div class="collapse in"
                 th:unless="${parcel.getLastState() == null}"
                 th:id="'quick-view-' + ${parcel.parcelTrackingNumber}">
                <span th:text="${parcel.getLastState().displayTitle()}">text</span>
            </div>
            <div th:id="'detail-view-' + ${parcel.parcelTrackingNumber}" id="detail-view" class="collapse">
                <ul class="list-group">
                    <li class="list-group-item" th:each="info : ${parcel.attributes.getDisplayInfo()}">
                        <strong th:text="${info.key}">key</strong>
                        <span th:text="${info.value}">num</span>
                    </li>
                </ul>
                <div th:each="state : ${parcel.getStatesInReverse()}" th:include="fragments/state :: state-div"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
