<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="state-div">
    <div th:if="${state != null}" class="panel panel-warning state-panel">
        <div class="panel-heading" data-toggle="collapse"
             th:attr="data-target='#detail-' + ${state.id}">
            <span th:text="${state.displayTitle()}"></span>
        </div>
        <div th:if="${!state.getDisplayInfo().isEmpty()}" th:id="'detail-' + ${state.id}" class="panel-body state-body collapse">
            <ul class="list-group state-info">
                <li class="list-group-item" th:each="info : ${state.getDisplayInfo()}">
                    <strong th:text="${info.key}">key</strong>
                    <span th:text="${info.value}">num</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>