<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CP - Parcels - Tracking numbers</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">

    <div class="starter-template">
        <h1>Tracked numbers</h1>

        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" th:each="tracking : ${trackingNumbers}"
                        th:include="fragments/tracking :: tracking"/>
                </ul>
                <form class="form-inline" method="post" th:action="@{/add-tracking}" th:object="${formTrackingNumbers}">
                    <div class="form-group">
                        <label class="sr-only" for="numbers">Tracking numbers (';' use as delimiter)</label>
                        <input type="text" class="form-control" th:field="*{trackingNumbers}" id="numbers"/>
                    </div>
                    <button type="submit" class="btn btn-info bt-sm">Add</button>
                </form>
            </div>
        </div>

    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
